<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <th:block layout:fragment="userCss">
    </th:block>
</head>

<body>
<div layout:fragment="content">
    <form th:action="@{/updateUser}" th:object="${loginUser}">
        <div class="form-group">
            <div class="container">
                <div class="text-center mx-auto pb-4" data-wow-delay="0.1s" style="max-width: 500px;">
                    <h1 class="mb-5">마이 페이지</h1>
                </div>

                <div class="row gy-5 gx-3">
                    <div class="col-lg-3 col-md-5 pt-3">
                        <div class="service-item d-flex flex-column h-60">
                            <div class="tableTitle">회원 정보</div>

                            <div class="col-sm-12">
                                <label for="userName" class="form-label">이름</label>
                                <input th:type="text" class="form-control" id="userName" placeholder="이름" th:value="${loginUser.username}" required="">
                            </div>
                            <div class="col-sm-12">
                                <label for="userPassword" class="form-label">비밀번호</label>
                                <input th:type="text" class="form-control" id="userPassword" required="">
                            </div>
                            <div class="col-sm-12">
                                <label for="email" class="form-label">이메일</label>
                                <input th:type="text" class="form-control" id="email" placeholder="이메일" th:value="${loginUser.email}" required="">
                            </div>
                            <div class="col-sm-12">
                                <label for="phone" class="form-label">전화번호</label>
                                <input th:type="text" class="form-control" id="phone" placeholder="전화번호" th:value="${loginUser.phone}" required="">
                            </div>
                        </div>

                        <div class="col-sm-12 d-flex flex-row-reverse bd-highlight">
                            <input type="button" class="btn btn-secondary" id="update" value="회원정보 수정">
                        </div>
                    </div>
                </div>

                <div class="row gy-10 gx-10">
                    <div class="service-item d-flex flex-column h-60">
                        <div class="tableTitle">저장 매출 목록</div>

                        <div th:each="revenue : ${revenueList}" class="form-check form-check-inline">
                            <input type="text" name="areaId" th:value="${revenue.areaId}">
                            <input type="text" name="salesResult" th:value="${revenue.salesResult}">
                            <input type="text" name="preSalesResult" th:value="${revenue.preSalesResult}">
                        </div>

                </div>
            </div>
        </div>
    </form>
</div>

<th:block layout:fragment="userScript">
    <script type="text/javascript" th:src="@{/js/mypage/mypage.js}" defer></script>
    <script th:inline="javascript"> const loginUser = [[${session.loginUser}]]; </script>
</th:block>
</body>
</html>
